{{- $isWork := false -}}
{{- if stdinIsATTY -}}
{{-   $isWork = promptBoolOnce . "is_work" "Is this a work machine" -}}
{{- end -}}

[data]
  is_work = {{ $isWork }}
{{- if $isWork }}
  email = {{ promptStringOnce . "email" "Work email address" | quote }}
{{- else }}
  email = "terry.horner@protonmail.com"
  gpg_key = "A8B24094C4BB137F"
{{- end }}
