{{- $isWork := false -}}
{{- if stdinIsATTY -}}
{{-   $isWork = promptBoolOnce . "is_work" "Is this a work machine" -}}
{{- end -}}

[data]
  is_work = {{ $isWork }}
{{- if $isWork }}
  email = {{ promptStringOnce . "email" "Work email address" | quote }}
  signing_key = "id_ed25519"
{{- else }}
  email = "terry.horner@protonmail.com"
  signing_key = "id_ed25519_signing"
{{- end }}
