[user]
	name = Terry Horner
	email = {{ .email }}
{{- if .is_work }}
	signingkey = ~/.ssh/id_ed25519_signing.pub
{{- else }}
	signingkey = {{ .gpg_key }}
{{- end }}
[commit]
	gpgsign = true
{{- if .is_work }}
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
{{- else }}
[gpg]
	program = gpg
{{- end }}
[github]
	user = terrhorn
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
